*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
}

li {
  list-style-type: none;
}

.boolflix-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.menu {
  flex-grow: 1;
  background-color: #E6E6E6;
}

.menu-icons {
  font-size: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icons li {
  margin-bottom: 20px;
  cursor: pointer;
}

.boolflix {
  flex-grow: 20;
  background-color: black;
}

.search {
  margin: 25px 0 0 50px;
}

.main {
  display: flex;
  align-items: center;
}

.input-search {
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  text-align: right;
  cursor: pointer;
}

.btn {
  color: #E6E6E6;
  background-color: rgba(256,256,256, .2);
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  border-style: none;
  margin-left: 20px;
  padding: 2px 20px;
  cursor: pointer;
}

.btn:hover {
  color: #000;
  background-color: #E6E6E6;
}

.main .card:first-child {
  margin-left: 50px;
}

.card {
  width: 300px;
  height: 450px;
  margin: 50px 0 50px 5px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  position: relative;
  display: flex;
  z-index: 1;
}

.card.animate {
  transform: scale(1.05);
  z-index: 999;
}

.card-info {
  width: 300px;
  height: 450px;
  color: #F5F5F5;
  background-color: rgba(0, 0, 0, .9);
  padding: 20px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  overflow-y: auto;
  cursor: default;
}

.card-info.active {
  opacity: 1;
}

.star-container, .stars {
  display: flex;
}

.stars {
  margin-left: 10px;
}

.star, .fa-star.yellow {
  color: #f1c40f;
}

.card-info::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000;
}

.card-info::-webkit-scrollbar {
	width: 2px;
	background-color: #000;
}

.card-info::-webkit-scrollbar-thumb {
	background-color: #F5F5F5;
}
